.react-multiple-carousel__arrow {
    z-index: 1;
}

.react-multi-carousel-dot-list {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.react-multi-carousel-dot {
    display: inline-block;
    margin: 0 6px;
}

.react-multi-carousel-dot button {
    border: none;
    background: #fff;
    opacity: 0.4;
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    transition: all 0.3s ease-in-out;
}

.react-multi-carousel-dot--active button {
    opacity: 1;
    background: #facc15; /* vàng */
    transform: scale(1.2);
}
