@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gordita";
    src: url("./fonts/Gordita-BoldItalic.woff2") format("woff2"), url("./fonts/Gordita-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("./fonts/Gordita-Light.woff2") format("woff2"), url("./fonts/Gordita-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("./fonts/Gordita-Bold.woff2") format("woff2"), url("./fonts/Gordita-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("./fonts/Gordita-Black.woff2") format("woff2"), url("./fonts/Gordita-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("./fonts/Gordita-MediumItalic.woff2") format("woff2"),
        url("./fonts/Gordita-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("./fonts/Gordita-BlackItalic.woff2") format("woff2"),
        url("./fonts/Gordita-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("./fonts/Gordita-Medium.woff2") format("woff2"), url("./fonts/Gordita-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("./fonts/Gordita-LightItalic.woff2") format("woff2"),
        url("./fonts/Gordita-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("./fonts/Gordita-Italic.woff2") format("woff2"), url("./fonts/Gordita-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("./fonts/Gordita-Regular.woff2") format("woff2"), url("./fonts/Gordita-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Gordita, sans-serif;
}
